<html>
    <head>
        <title>Cam</title>
    </head>
    <body>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type='text/javascript'>
			$(document).ready(function() {

			    loadImg();
				setInterval(loadImg, 60000);
				
				function loadImg() {
					var url = "../static/cam.jpg?";
					var $loader = $("<img />");
					var $msg = $("#msg");
					
					$loader.one("load", function() {
						$("#cam").attr("src", $loader.attr("src"));
						$msg.empty()
					});
					
					$loader.attr("src", url + new Date().getTime())
					$msg.html("Updating...");
				}
			});
		</script>
        <ul>
            <li><a href="../">Points</a></li>
        </ul>
        <img id="cam" src="" />
        <div id="msg"></div>
    </body>
</html>