<html>
    <head>
        <title>Cam</title>
    </head>
    <body>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type='text/javascript'>
			$(document).ready(function() {

			    loadImg();
				setInterval(loadImg, 30000);
				
				function loadImg() {
					var url = "../static/cam.jpg?";
					var $load_img = $("<img />");
					var $loading = $("#loading");
					
					$load_img.one("load", function() {
						$("#cam").attr("src", $load_img.attr("src"));
						$loading.hide()
					});
					
					$load_img.attr("src", url + new Date().getTime())
					$loading.show()
				}
			});
		</script>
        <ul>
            <li><a href="../">Points</a></li>
        </ul>
        <img id="cam" src="" />
        <img id="loading" src="static/loader_squares.gif" />
    </body>
</html>