<html>
	<head>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script type='text/javascript'>
        $.getJSON("/api/point_values/{{name}}")
            .done(function(data) {
                $('#chart_container').highcharts({
                    title: {
                        text: null
                    },
                    tooltip: {
                        crosshairs: true
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Timestamp'
                        }
                    },
                    series: data
                })
            })
            .fail(function() {
                    console.log( "error" );
            });
        </script>
	</head>

	<body>
        <h2>{{name}}</h2>
        <ul>
            <li><a href="../">back to list</a></li>
            <li><a href="../point/{{name}}">{{name}}</a></li>
        </ul>
        <div id="chart_container" style="height: 400; width: 800;"></div>
	</body>
</html>
