<!DOCTYPE html>
<html lang="en">
	<head>
		<title>TurtlePi Points</title>
		<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/datepicker/datepicker.css" rel="stylesheet">
		<link href="../static/point_values.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">

			<div class="row header">
                <ul class="list-inline">
                    <li><h3 class="text-muted">TurtlePi</h3></li>
                    <li><a href="cam">Camera</a></li>
                </ul>
			</div>
			
			<div class="row">
				<form class="form-inline">
					<div class="col-sm-6">
						<button type="button" id="timespanDay" class="btn btn-default active">Day</button>
						<button type="button" id="timespanWeek" class="btn btn-default">Week</button>
						<button type="button" id="timespanAll" class="btn btn-default">All</button>
					</div>
					<div class="col-sm-6 text-right">
						<input type="text" id="datepick" placeholder="DD/MM/YYYY" class="form-control">
						<button type="button" id="datepickNow" class="btn btn-default">Now</button>
					</div>
				</form>
			</div>
			
			<div id="chart_message" class="alert alert-danger"></div>
			<div class="row">
				<div id="chart"></div>
			</div>
			
			<div class="row">
				<table id="legend" class="table">
					<thead>
						<tr>
                            <th>Show</th>
							<th>Sensor</th>
							<th>Value</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>

		</div> <!-- /container -->

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
		<script type="text/javascript" src="../static/datepicker/datepicker.js"></script>
        <script type='text/javascript'>
			var DP = $.fn.datepicker;
			var DPGlobal =  DP.DPGlobal;

			var chartTimespan = {
				from: new Date(0),
				days: 1,
				setFrom: function(newDate) {
					if(newDate instanceof Date) {
						if(!datesAreEqual(newDate, this.from)) {
							this.from = newDate;
							$("#datepick").datepicker("update", newDate);
							updateChart();
						}
					}
				},
				setDays: function(newDays) {
					if(newDays != this.days) {
						this.days = newDays;
						updateChart();
					}
				}
			}

            function datesAreEqual(date1, date2) {
				date1.setHours(0,0,0,0);
				date2.setHours(0,0,0,0);
				return date1.valueOf() == date2.valueOf();
			}
			function updateTimespanSelection(which) {
				$("#timespanDay").removeClass("active");
				$("#timespanWeek").removeClass("active");
				$("#timespanAll").removeClass("active");

				$("#timespan" + which).addClass("active");
			}

			$("#timespanDay").click(function() {
				updateTimespanSelection("Day");
				chartTimespan.setDays(1);
			});
			$("#timespanWeek").click(function() {
				updateTimespanSelection("Week");
				chartTimespan.setDays(7);
			});
			$("#timespanAll").click(function() {
				updateTimespanSelection("All");
				chartTimespan.setDays(0);
			});

			$("#datepick").datepicker({
				format: "dd/mm/yyyy",
				autoclose: true,
				todayHighlight: true,
				weekStart: 1
			});
			$("#datepickNow").click(function() {
				$("#datepick").datepicker("update", new Date());
			});
			$("#datepick").change(function() {
				var date = DPGlobal.parseDate($("#datepick").val(), DPGlobal.parseFormat("dd/mm/yyyy"))
				chartTimespan.setFrom(date);

				$("#datepickNow").removeClass("active");
				if(datesAreEqual(date, new Date())) {
					$("#datepickNow").addClass("active");
				}
			});
			$("#datepick").datepicker("update", new Date()); // init to today

			function makeTurtlePiURL(from, days) {
				var url = "/api/point_values";
				if(!(typeof from === "undefined")) {
					url += "?from=" + DPGlobal.formatDate(from, "yyyy-mm-dd", "en");
					if(!(typeof days === "undefined")) {
						url += "&days=" + days;
					}
				}
				return url;
			}

			function drawChart(jsonURL) {
				$("#chart_message").hide();

				$.getJSON(jsonURL)
					.done(function(data) {
                        // make unique list of units
                        var units = [];
                        var yAxis = [];
                        for(var i = 0; i < data.length; i++) {

                            // get series units
                            var uom = data[i]["units"];

                            // check if yAxis exists for units
                            var uom_index = units.indexOf(uom);
                            if(uom_index == -1) {
                                // doesn't already exist, create new yAxis
                                uom_index = units.length;
                                units[uom_index] = uom;
                                yAxis[uom_index] = { title: { text: "Values ( " + uom + " )" }};
                            }

                            // assign series to it's yAxis
                            data[i]["yAxis"] = uom_index;
                            data[i]["tooltip"] = { valueSuffix: " " + uom };
                        }

						$("#chart").highcharts({
						    chart: {
						        zoomType: "x"
						    },
							title: {
								text: null
							},
							legend: {
							    enabled: false
							},
							tooltip: {
								crosshairs: true
							},
							xAxis: {
								type: 'datetime',
								title: {
									text: 'Timestamp'
								}
							},
							yAxis: yAxis,
							series: data
						});

						buildLegend(data);
					})
					.fail(function() {
						$("#chart_message").html("<strong>Error:</strong> Call to \"" + jsonURL + "\" for chart data, failed.")
						$("#chart_message").show();
					});
			}
			function updateChart() {
				var url;
				var days = chartTimespan.days;
				var from = chartTimespan.from;
				if(days > 0) {
					url = makeTurtlePiURL(from, days);
				} else {
					url = makeTurtlePiURL();
				}
				drawChart(url);
			}

            function buildLegend(chartData) {
                tBody = $("#legend").find("tbody");
                tBody.empty();

                var colours = $("#chart").highcharts().options.colors;

                for(var i = 0; i < chartData.length; i++) {
                    pointName = chartData[i]["name"];
                    checkbox = $(document.createElement("input")).attr({
                        value: i,
                        type: "checkbox",
                        checked: true
                    });

                    checkbox.change(function() {
                        var chart = $("#chart").highcharts();
                        var series = chart.series[this.value];
                        if($(this).is(":checked")) {
                            series.show();
                        } else {
                            series.hide();
                        }
                    });

                    var row = $("<tr>");
                    var tdShow = $("<td>")
                    tdShow.append("<div class=\" legend-colour\" style=\"background-color:"+ colours[i] +"\"></div>");
                    tdShow.append(checkbox);
                    row.append(tdShow);
                    row.append("<td><a href=\"point/" + pointName + "\">" + pointName + "</a></td>");
                    //row.append($("<td>"));
                    row.append("<td id=\"val-" + pointName + "\"></td>");
                    row.append("<td id=\"ts-" + pointName + "\"></td>");
                    tBody.append(row);

                    $.getJSON("/api/point/" + pointName)
                        .done(function(data) {
                            $("#val-" + data["name"]).text(data["value"]);
                            $("#ts-" + data["name"]).text(data["timestamp"]);
                        });
                }
            }
		</script>
	</body>
</html>
